@tailwind base;
@tailwind components;
@tailwind utilities;


.swiper-wrapper {
    width: 100%;
    height: max-content !important;
    padding-bottom: 64px !important;
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
    position: relative;
    }
    .swiper-pagination-bullet {
    background: #4F46E5;
    }
    .swiper-pagination-bullet-active {
    background: #4F46E5 !important;
    }

    .card-image {
        transition: transform 0.3s ease, opacity 0.3s ease; /* Mengatur transisi untuk efek zoom dan opasitas */
    }

    .card-image:hover {
        transform: scale(1.05); /* Memperbesar gambar saat hover */
        opacity: 0.8; /* Mengurangi opasitas saat hover */
    }

    .fixed-image {
        height: 300px; /* Atur tinggi yang sama untuk semua gambar */
        width: 100%; /* Memastikan lebar gambar memenuhi kontainer */
        object-fit: cover; /* Memastikan gambar tidak terdistorsi dan tetap dalam proporsi */
    }


    @layer components {
         .btn-primary {
            @apply py-1.5 px-3 text-center bg-blue-700 rounded-md text-white;
        }
      }

